/* App.css */
.content {
  flex: 1;
  background-color: white;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  background-color: red;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.bottom-nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.bottom-nav li {
  flex: 1;
}

.bottom-nav button {
  width: 100%;
  height: 100%;
  background-color: red;
  color: white;
  border: none;
}
